#!/usr/bin/systemd
# mef firewall rules service
# Loads persistent firewall policy rules from /etc/mef/mef.rules
# This is a standalone service - mefdaemon is NOT required

[Unit]
Description=mef firewall policy rules
Documentation=https://github.com/jwillberg/mef
After=network.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/mefctl rules apply --yes /etc/mef/mef.rules
ExecStop=/usr/local/sbin/mefctl rules clear
ExecReload=/usr/local/sbin/mefctl rules apply --yes /etc/mef/mef.rules
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
